body {
  background-color: #35654D;
}

h1 {
  font-size: 8rem;
  margin: 0;
}

p {
  font-size: 2rem;
  margin-bottom: 5px;
}

img {
  height: 12rem;
  border-radius: 5px;
}

button {
  border-radius: 3px;
  border-color: black;
  background-color: #FF5349;
  width: 7.5rem;
  height: 2.5rem;
}

button:hover {
  background-color: #FF1311;
}

button:active {
  background-color: lightgreen;
}

.container {
  text-align: center;
  margin: auto;
  color: #FF5349;
}

.dealer {
width: auto;
margin-bottom: 5rem;
}

.total {
  font-size: 1.5rem;
  margin: 10px auto;
}