* {
  margin: 0;
}

body {
  background-color: #35654d;
}

h1 {
  font-size: 5rem;
  margin: 0;
}

p {
  font-size: 2rem;
  margin: 7.5px auto;
}

img {
  height: 12rem;
  border-radius: 5px;
}

button {
  border-radius: 3px;
  border-color: black;
  background-color: #ff5349;
  width: 7.5rem;
  height: 2.5rem;
}

button:hover {
  background-color: #ff1311;
}

button:active {
  background-color: lightgreen;
}

.container {
  text-align: center;
  margin: auto;
  color: #ff5349;
}

.dealer {
  width: auto;
  margin: 0 auto 1%;
}

.total {
  font-size: 1.5rem;
}

#gameOver {
  background-color: #ff1311;
  border: 5px solid #000000;
  border-radius: 15px;
  position: fixed;
  text-align: center;
  padding: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.reloadbtn {
  margin-top: 0.5rem;
}
